/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body::after {
  content: "";
  background: url('bg.jpg') repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

a{
  padding:5px;
}
a.selected {
  border:1px solid grey;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.candy.list {
  width:50%;
}
.candy.container {
  display:flex;
}
.candy.all.info {
  display:flex;
  flex:1;
  justify-content: center;
  flex-direction: column;
}
.candy.image {
  flex: 2;
  display:flex;
}
.candy.title {
  font-size:2rem;
}
.candy.quantity::before{
  content:'Amt.:';
}
.candy.basic.info {
}
.candy.more.info {
  font-style: italic;
  color: gray;
  font-size:1.5em;
}

